/* 全体 */
@import url(https://fonts.googleapis.com/css?family=Raleway|M+PLUS+Rounded+1c|Rajdhani);

body {
  color: #555;
  font-family: 'M PLUS Rounded 1c', 'Montserrat', sans-serif;
  margin: 0;
}

h2 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 5em;
  margin: 10px auto;
}

h3 {
  font-size: 2em;
  margin: 25px auto 10px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #555;
  text-decoration: underline;
}
/* タイトル・メニュー部分 */

.topmenu {
  background-image: url(../img/title_bg.jpg);
  background-size: cover;
  border-bottom: 1px solid;
  height: 80vh;
  margin: 0;
  overflow: hidden;
}

.topmenu > h1 {
  color: #eee;
  font-family: 'Raleway', sans-serif;
  font-size: 6em;
  margin: 15% auto 0;
  text-align: center;
}

.navigation nav ul {
  display: inline;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 10vh auto;
}

.navigation nav ul li a {
  background-color: rgb(255, 255, 255, 0.3);
  display: block;
  border-radius: 0.3em;
  font-size: 2em;
  margin: 20px auto;
  padding: 10px;
  width: 300px;
}

.navigation nav ul li a:hover {
  background-color: rgb(255, 255, 255, 0.7);
}

/* プロフィール */
.profile {
  border-bottom: solid 1px #555;
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;
  width: 70%;
}

.profile-img {
  border: solid 5px #ddd;
  border-radius: 150px;
  height: 300px;
  width: 300px;
}
.link-img {
  margin: 20px;
  height: 100px;
  width: 100px;
}

.profile > section > p {
  display: block;
  margin: 10px auto;
  text-align: left;
  width: 80%;
}

.link-prf:hover {
  text-decoration: none;
}

.tech-img {
  height: 100px;
  margin: 10px;
}

/* WORKS */
.works {
  text-align: center;
}

.work-thum:hover {
  cursor: pointer;
}

.works > img {
  border: solid 1px #aaa;
  height: auto;
  margin: 10px;
  width: 250px;
}

.work {
  border-top: solid 1px #aaa;
  padding: 0;
}

.work img {
  width: 500px;
  height: auto;
}

.work > div {
  border-bottom: solid 1px #555;
  margin: 10px auto;
  padding: 0;
  width: 60%;
}

.work > div > div {
  display: inline-block;
  margin-bottom: 10px;
  padding: 0;
  vertical-align: middle;
  width: 40%;
}

.work .content {
  text-align: left;
}
